/* Fonts */
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/icon?family=Roboto+Mono');
@import url('//db.onlinewebfonts.com/c/91efea3c2356f5fa3e2fce8acd26d667?family=Orator');

/* MAIN VARS */
:root {
    /* MAIN COLORS */
    --col-background: #1E1E1E;
    --col-sections: #252526;
    --col-optional: #2D2D2D;
    --col-navbar: #333333;
    --col-rules: #3C3C3C;
    --col-main-text: #FFFFFF;
    --col-secondary-text: #9b9b9b;
    --col-primary: #2D8CFF;

    /* CONTAINER DIMS */
    --container-width: calc(100vw - 3rem);
    --container-width-desktop: 960px;
    --elem-border-size: 1.5rem;

    /* NEWSLETTER */
    --newsletter-strip-size: 16px;

    /* BD SECTIONS */
    --section-vertical: 1.5rem;
    --section-horizontal: 1.5rem;
    --section-h: 170deg;
    --index-vertical: 3rem;
    --index-gap: 3rem;
}