body {
    background-color: #1E1E1E;
}

nav {
    height: 64px;
    line-height: 64px;
}

.container {
    width: 90%;
}

.nav-wrapper {
    background-color: #5E494E;
}

.nav-logo {
    display: inline-flex;
    font-family: orator, monospace;
    font-style: normal;
    font-size: 1.8em;
    font-weight: 400;
}

.nav-logo img {
    align-self: center;
    flex: 0 0 auto;
    margin-right: 14px;
    height: 1.6em;
}

nav .sidenav-trigger .material-icons {
    font-size: 30px;
    height: 64px;
    line-height: 64px;
}