#newsletter {
    padding: var(--newsletter-border-size);
    padding-top: 0;
}

#newsletter-heading .title {
    font-weight: 400;
}

#newsletter .title strong {
    font-weight: 600;
    line-height: 1.125rem;
}

#newsletter .title small {
    color: var(--text-secondary);
    display: block;
    font-size: .75em;
}

.bd-newsletter-fields {
    display: grid;
    grid-gap: 1rem;
}

.bd-newsletter-heading form {
    margin-top: 1.5rem;
}

.bd-newsletter-heading .icon {
    float: left;
    margin-right: 0.75rem;
    align-self: flex-start;
    font-size: 2rem;
    width: 2rem;
    height: 2rem;
}

.bd-newsletter-box {
    padding-top: calc(var(--bd-index-vertical) + var(--newsletter-strip-size));
    padding-left: 20px;
    padding-right: 20px;
    background-color: var(--bck);
    background-image: url(/assets/img/newsletter-strip.png);
    background-repeat: repeat-x;
    background-size: 96px var(--newsletter-strip-size);
    border-radius: 1.5em;
    box-shadow: 0 1em 2em rgba(0, 0, 0, 0.2);
}

.bd-index-section {
    padding-bottom: var(--bd-index-vertical);
}
